.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #0e0e0e;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(241, 200, 241);
}

.input-container {
    margin-bottom: 20px;
}

input[type="number"] {
    width: 100px;
    padding: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.color{
    color: red;
}